* {
	all: unset;
}

.bar,
.dash {
	all: unset;
	color: #000;
	font-family: cozettevector;
	font-size: 1.5rem;
}

.dash {
	font-size: 1.5rem;
	border: 0.03rem solid #000;
	border-radius: 0 5rem 5rem 0;
	padding: 0 1rem 1rem 1rem;
	margin: 2rem 2rem 2rem 0;
}

.metric progressbar trough {
	all: unset;
	min-height: 2rem;
	min-width: 1rem;
	/* border: 0.01rem solid #000; */
	border-radius: 1rem;
	margin: 0.2rem 0.1rem;
}

.metric progressbar trough progress {
	min-height: 2rem;
	border: 0.03rem solid #000;
	border-radius: 1rem;
}

.tile {
	all: unset;
	border: 0.05rem solid #000;
	border-radius: 2.5rem;
	padding: 1.5rem;
	margin: 1rem;
}

.text-biggest {
	all: unset;
	color: rgba(0, 0, 0, 0.4);
	font-family: Bodoni Moda;
	/* font-family: Jost\*; */
	font-size: 10rem;
	font-weight: 900;
	margin: 0 2rem -3rem 1rem;
}

.text-bigger {
	font-size: 2.2rem;
}

.text-big {
	font-size: 2rem;
}

.text-sml {
	font-size: 1.2rem;
}

.tag-active,
.tag-urgent {
	font-weight: bold;
}

.tag-empty {
	color: #ccc;
}