@define-color c-tix0 #fafef9;
@define-color c-tix1 #e9efe9;
@define-color c-tix2 #dae0d5;
@define-color c-tees #0b0e0d;
@define-color c-shot #ba4843;

* {
  /* font-family: monospace; */
  font-family: Cozette;
  font-size: 1.4rem;
}

window#waybar {
  background-color: alpha(@c-tix0, 0.9);
  border-right: 0.2rem solid @c-tix0;
}

.modules-left,
.modules-right {
  margin: 1.5rem 0.4rem;
}

#custom-arrow,
#custom-backlight,
#custom-cpu,
#custom-memory,
#custom-network,
#battery .icon,
#bluetooth .icon {
  font-size: 2.3rem;
  padding: 0 0.5rem;
}

#custom-quit,
#custom-lock,
#custom-poweroff,
#custom-reboot,
#custom-wallpaper,
#clock,
#tags * {
  font-size: 2.1rem;
}

#privacy-item {
  border: 0.05rem solid @c-tees;
  border-radius: 0.5rem;

  margin: 0.3rem 0.1rem;
  padding: 0.4rem 0.8rem;
}

#tags button {
  margin: 0;
  padding: 0;
}

#tags button.focused,
#tags button.urgent {
  font-weight: bold;
}