// refer: https://yalter.github.io/niri/Configuration:-Introduction

input {
    keyboard {
        xkb {
            layout "us" 
    		options "caps:swapescape,shift:both_capslock,ctrl:swap_ralt_rctl"
        }

        repeat-delay 300
        repeat-rate 50
    }

    touchpad {
        tap
        natural-scroll
    }

    warp-mouse-to-focus
    focus-follows-mouse
}

output "eDP-1" {
    scale 1
}

binds {    
    XF86MonBrightnessDown       allow-when-locked=true repeat=false { spawn-sh "adjuster backlight - 5"; }    
    XF86MonBrightnessUp         allow-when-locked=true repeat=false { spawn-sh "adjuster backlight + 5"; }    
    Shift+XF86MonBrightnessDown allow-when-locked=true repeat=false { spawn-sh "adjuster backlight = 2"; }    
    Shift+XF86MonBrightnessUp   allow-when-locked=true repeat=false { spawn-sh "wlr-randr --output eDP-1 --toggle"; }    
    XF86LaunchA                 allow-when-locked=true repeat=false { spawn-sh "test"; }    
    XF86LaunchB                 allow-when-locked=true repeat=false { spawn-sh "test"; }    
    Shift+XF86LaunchA           allow-when-locked=true repeat=false { spawn-sh "test"; }    
    Shift+XF86LaunchB           allow-when-locked=true repeat=false { spawn-sh "test"; }    
    XF86KbdBrightnessDown       allow-when-locked=true repeat=false { spawn-sh "adjuster keyboard - 7"; }    
    XF86KbdBrightnessUp         allow-when-locked=true repeat=false { spawn-sh "adjuster keyboard + 7"; }    
    Shift+XF86KbdBrightnessDown allow-when-locked=true repeat=false { spawn-sh "test"; }    
    Shift+XF86KbdBrightnessUp   allow-when-locked=true repeat=false { spawn-sh "test"; }    
    XF86AudioPrev               allow-when-locked=true repeat=false { spawn-sh "playerctl previous"; }    
    XF86AudioPlay               allow-when-locked=true repeat=false { spawn-sh "playerctl play-pause || ncmpcpp"; }    
    XF86AudioNext               allow-when-locked=true repeat=false { spawn-sh "playerctl next"; }    
    Shift+XF86AudioPrev         allow-when-locked=true repeat=false { spawn-sh "playerctl position 5-"; }    
    Shift+XF86AudioPlay         allow-when-locked=true repeat=false { spawn-sh "playerctl shuffle toggle"; }    
    Shift+XF86AudioNext         allow-when-locked=true repeat=false { spawn-sh "playerctl position 5+"; }
    XF86AudioMute               allow-when-locked=true repeat=false { spawn-sh "adjuster vol_sink ="; }
    XF86AudioLowerVolume        allow-when-locked=true repeat=false { spawn-sh "adjuster vol_sink - 5"; }
    XF86AudioRaiseVolume        allow-when-locked=true repeat=false { spawn-sh "adjuster vol_sink + 5"; }
    Shift+XF86AudioMute         allow-when-locked=true repeat=false { spawn-sh "adjuster vol_source ="; }
    Shift+XF86AudioLowerVolume  allow-when-locked=true repeat=false { spawn-sh "adjuster vol_source - 5"; }
    Shift+XF86AudioRaiseVolume  allow-when-locked=true repeat=false { spawn-sh "adjuster vol_source + 5"; }

    Mod+1       { focus-workspace 1; }
    Mod+2       { focus-workspace 2; }
    Mod+3       { focus-workspace 3; }
    Mod+4       { focus-workspace 4; }
    Mod+5       { focus-workspace 5; }
    Mod+6       { focus-workspace 6; }
    Mod+7       { focus-workspace 7; }
    Mod+8       { focus-workspace 8; }
    Mod+9       { focus-workspace 9; }
    Mod+0       repeat=false { toggle-overview; }
    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }
    Mod+Shift+0 { focus-workspace-previous; }
    // grave minus equal backspace

    Mod+Q       repeat=false { close-window; }
    Mod+Alt+Control+Q        { quit; }
    Mod+T       repeat=false { spawn-sh "screenshotter"; }
    Mod+Shift+T repeat=false { spawn-sh "screenshotter menu"; }
    Mod+Y       repeat=false { spawn-sh "fnottctl dismiss"; }
    Mod+Shift+Y repeat=false { spawn-sh "fnottctl dismiss all"; }
    Mod+U       repeat=false { spawn-sh "eww close bar || eww open bar"; }
    Mod+Shift+U repeat=false { spawn-sh "eww close dash || eww open dash"; }
    // E R I O P bracketleft bracketright backslash 

    Mod+F            { maximize-column; }
    Mod+Shift+F      { maximize-window-to-edges; }
    Mod+Ctrl+F       { fullscreen-window; }
    Mod+G            { center-column; }
    Mod+Shift+G      { switch-preset-column-width; }
    Mod+H            { focus-column-left; }
    Mod+L            { focus-column-right; }
    // Mod+H            { switch-preset-column-width-back; }
    // Mod+L            { switch-preset-column-width; }
    Mod+J            { focus-window-down-or-column-right; }
    Mod+K            { focus-window-up-or-column-left; }
    Mod+Shift+H      { move-column-left; }
    Mod+Shift+L      { move-column-right; }
    Mod+Shift+J      { consume-or-expel-window-right; }
    Mod+Shift+K      { consume-or-expel-window-left; }
    Mod+Ctrl+J       { focus-monitor-next; }
    Mod+Ctrl+K       { focus-monitor-previous; }
    Mod+Ctrl+Shift+J { move-window-to-monitor-next; }
    Mod+Ctrl+Shift+K { move-window-to-monitor-previous; }
    Mod+Alt+H        { set-window-width "-50"; }
    Mod+Alt+L        { set-window-width "+50"; }
    Mod+Alt+J        { set-window-height "+50"; }
    Mod+Alt+K        { set-window-height "-50"; }
    Mod+return       { move-column-to-first; }
    Mod+Shift+return { toggle-window-floating; } 
    // A S D semicolon apostrophe 

    Mod+B       repeat=false { spawn-sh "footclient -e lf"; }
    Mod+Shift+B repeat=false { spawn-sh "firefox"; }
    Mod+M       repeat=false { spawn-sh "footclient -e aerc"; }
    Mod+shift+M repeat=false { spawn-sh "spotify"; }
    Mod+comma   repeat=false { spawn-sh "fuzzel"; }
    Mod+space   repeat=false { spawn-sh "footclient || foot --server"; }
    Mod+Shift+space repeat=false { spawn-sh "foot"; }
    // Z X C V N period slash
}

switch-events {
    lid-close { spawn "systemctl" "suspend"; }
}

layout {
    gaps 5
    // center-focused-column "on-overflow"
    always-center-single-column
    background-color "#fafef9"

    focus-ring {
        // off
        width 3
        active-color "#007bc0" // b case0.d 
        urgent-color "#f75f59" // r shot0
    }

    insert-hint {
        color "#007bc080"
    }

    struts {
        // top 16
        // bottom 16
    }
}

spawn-sh-at-startup "foot --server"
spawn-sh-at-startup "swaybg -m fill -i \"$(find ~/home/pic/libreshot-city -type f | shuf -n1)\""
spawn-sh-at-startup "eww open bar"
spawn-sh-at-startup "foot --server"
spawn-sh-at-startup "kanshi"
spawn-sh-at-startup "mako"
spawn-sh-at-startup "swayidle"
spawn-sh-at-startup "wayneko --layer overlay --survive-close"
spawn-sh-at-startup "mpd && mpd-mpris"

prefer-no-csd

cursor {
    xcursor-theme "BreezeX-Dark"
    xcursor-size 45
}

overview {
    zoom 0.5
    // backdrop-color "#fafef9"

    workspace-shadow {
        off
    }     
}

hotkey-overlay {
    skip-at-startup
}

window-rule {
    // geometry-corner-radius 20
    // clip-to-geometry true
    draw-border-with-background false    
    opacity 0.85
}    

window-rule {    
    match app-id="firefox|gnome|spotify|zathura"
    
    background-effect {
        blur true    
    }
}    
