// refer: https://yalter.github.io/niri/Configuration:-Introduction

input {
    keyboard {
        xkb {
            layout "us" 
    		options "caps:swapescape,shift:both_capslock,ctrl:swap_ralt_rctl"
        }
    }

    touchpad {
        tap
        natural-scroll
    }
}

output "eDP-1" {
    scale 1
}

spawn-at-startup "foot --server"

binds {
    Mod+Q             { close-window; }
    Mod+Alt+Control+Q { quit; }
    Mod+Shift+B       { spawn "firefox"; }
    // Mod+Space         { spawn "footclient || foot --server"; }
    Mod+Space         { spawn "foot"; }
}
